html{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./src/fondo2.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    color: aliceblue;
    height: 700px;
}


.container{
    display: flex;
    height: 350px;
    width: 800px;
    background-color: rgb(42, 40, 40);
    border: 5px solid #494343;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
select{
    /* background-color: rgb(133, 129, 129); */
    border: 1px solid gray;
    border-radius: 5px;
    height: 26px;
}
.imgs{
    width: 80%;
    height: 70%;
    /* border: 1px solid blue; */
    border-radius: 20px;
    position: relative;
} 

img {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.imgEntrace{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid white;
}

.qr img{
    bottom: 45px;
    width: 70px;
    height: 70px;
    right: 40px;
}

form {
    margin-bottom: 20px;
    display: flex;
    /* flex-direction: row; */
    width: 95%;
    justify-content: space-evenly;
    /* background-color: azure; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form option{
    cursor: pointer;
}
form button{
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

/* @media screen and (min-width: 992px) {
    .qr img{
    position: fixed;
    width: 80px;
    height: 80px;
    right: 503px;
    top: 212px;
    }  
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    .qr img{
    position: fixed;
    width: 80px;
    height: 80px;
    right: 202px;
    top: 212px;
    }    
  } 
  
  @media screen and (max-width: 767px) {
    .qr img{
    position: fixed;
    width: 80px;
    height: 80px;
    right: 280px;
    top: 212px;
}
    }
    
  } */
